.answers {
  position: relative;

  display: grid;

  overflow: auto;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
  grid-template-columns: auto 1fr;
  grid-template-areas: "sidebar answer";
}

.sideBar {
  grid-area: sidebar;

  border-right: 1px solid #071838FF;
}

.answer {
  grid-area: answer;
}

.answerList {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.categoryTitle {
  color: white;

  font-size: 32px;
  font-weight: 500;
}

.link {
  text-decoration: none;

  color: white;

  font-size: 18px;
  font-weight: 500;
}

.activeLink {
  color: #2C3E50;
}

.arrow {
  display: none;
  height: 100%;
  width: 20px;
  border-radius: 0;
  background:  #2C3E50;
}
.arrow svg{
  fill: white;
}

.mobileMenu {
  height: 100%;
}

.menuClose {
  position: fixed;
  z-index: 11;
  top: 15px;
  right: 15px;
  border-radius: 10px;
  display: none;
  background: transparent;
}

@media (max-width: 1024px) {
  .arrow {
    display: block;
  }

  .menuClose {
    display: block;
  }

  .sideBar {
    border: none;
  }

  .mobileMenu {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    overflow-y: scroll;

    padding: 20px 10px;

    background: rgb(207 208 217 / 94%);
  }
}
