.answer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  padding: 20px;
}

.title {
  margin-bottom: 40px;

  color: white;

  font-size: 32px;
}

.infoBox {
  display: flex;
  justify-content: space-between;

  width: 100%;
}

.imgBox {
  width: clamp(320px, 70%, 600px);
}

.descr {
  color: white;

  font-size: 16px;
}

.links {
  display: flex;
  align-items: center;

  margin: 0;
  padding: 0;

  color: white;

  font-size: 20px;
}

.link {
  padding: 5px;

  text-decoration: none;

  color: lawngreen;
}

.iframeBox {
  width: clamp(320px, 70%, 600px);
}

@media screen and (max-width: 700px) {
  .infoBox {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }

  .iframeBox {
    min-height: 300px;
  }

  .imgBox {
    margin-bottom: 10px;
  }

  .title {
    font-size: 24px;
  }
}

@media screen and (max-width: 425px) {
  .title {
    font-size: 20px;
  }
}
