.answers {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: "sidebar answer";

  overflow: auto;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
  position: relative;
}

.sideBar {
  grid-area: sidebar;
  border-right: 1px solid #071838FF;
}

.answer {
  grid-area: answer;
}

.answerList {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.categoryTitle {
  color: white;

  font-size: 32px;
  font-weight: 500;
}

.link {
  text-decoration: none;

  color: white;

  font-size: 18px;
  font-weight: 500;
}

.activeLink {
  color: #2C3E50;
}

.button {
  padding: 5px;

  cursor: pointer;

  color: blue;
  border: none;
  border-radius: 6px;
  background: greenyellow;
}

/*@media screen and (max-width: 1024px) {*/
/*  .answers {*/
/*    grid-template-columns: 1fr;*/
/*    grid-template-areas: "answer";*/
/*  }*/

/*}*/
.burger{
  display: none;
}
.mobileMenu{
  height: 100%;
}

.menuClose {
  display: none;
  position: fixed;
  z-index: 11;
  top: 15px;
  right: 15px;
}

@media (max-width: 1024px) {
  .burger {
    display: block;
  }
  .menuClose{
    display: block;
  }
  .sideBar{
    border: none;
  }
  .mobileMenu {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    overflow-y: scroll;

    padding: 20px 10px;

    background: rgba(207, 208, 217, 0.94);
  }
}
