.sideList {
  align-content: start;

  height: 100%;
  padding: 10px;
}

.title {
  margin-bottom: 40px;

  color: white;
}

.list {
  margin: 0;
  padding: 0;

  list-style-type: none;

  color: #071838FF;

  font-size: 1rem;
}

.link {
  margin-bottom: 10px;
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: opacity 0.7s ease-in-out;
}

.link :hover {
  transition: opacity 0.3s ease-in-out;

  opacity: 0.5;
}

.activeLink {
  color: white;
}

@media screen and (max-width: 1024px) {
  .list {
    font-size: calc(0.9rem + 1vw);
  }
  .link{
    max-width: none;
  }
}
