@font-face {
    font-family: 'Beer money';
    src: local('beer money'), local('beermoney'), url('beermoney.woff2') format('woff2'), url('beermoney.woff') format('woff'), url('beermoney.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
