.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
 padding: 0 20%;
  width: 100%;
  height: 70px;

  background: linear-gradient(to right, #3E5151, #DECBA4);
}

.title {
  color: white;

  font-size: 30px;
  font-weight: 500;
}

.link{
  color: white;
  opacity: 1;
  font-size: 30px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.link:hover {
  opacity: 0.5;
}
@media screen and (max-width: 1024px) {

  .link {
    font-size: 24px;
  }
}
@media screen and (max-width: 425px) {
  .link {
    font-size: 20px;
  }
}

