.header {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 70px;

  background: linear-gradient(to right, #3E5151, #DECBA4);
}

.title {
  color: white;

  font-size: 40px;
  font-weight: 500;
}
