.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: max(50px, 4vw);
  padding: 0 10%;

  background: linear-gradient(to right, #3E5151, #DECBA4);
}

.title {
  color: white;
  background: linear-gradient(#C31432, #240B36);
  background-clip: text;

  font-size: calc(1em + 1vw);
  font-weight: 800;
  -webkit-text-fill-color: transparent;
}

.interview {
  background: linear-gradient(#C31432, #240B36);
  background-clip: text;

  font-family: "Beer money", sans-serif;
  -webkit-text-fill-color: transparent;
}

.link {
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  opacity: 1;
  color: white;

  font-size: 30px;
  font-weight: 500;
}

.link:hover {
  opacity: 0.5;
}


@media screen and (max-width: 768px) {
  .title{
    display: none;
  }
}
